<!DOCTYPE html>

<html>
<head>
    <title>Harmy - {% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="icon" href="{{ SITEURL }}/theme/img/favicon.png" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/dmpayton.css" type="text/css" />
    <link href="{{ SITEURL }}/{{ FEED|default(FEED_RSS)|default(TAG_FEED_RSS) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }}" />

    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

</head>

<body class="{% block bodyclass %}{% endblock %}">

<div class="ribbon"> 
    <a href="https://github.com/harmy">See me on GitHub</a> 
</div> 

<div id="wrapper">
    <header id="header">
        <h1><a href="/">{{ AUTHOR }}</a></h1>
        <nav>
            <ul>
                <li><a href="/archives.html">Blog</a></li>
                <li><a href="/pages/projects.html">Projects</a></li>
                <li><a href="/pages/about.html">About</a></li>
                <!--<li><a href="/pages/resume.html">Résumé</a></li>-->
            </ul>
        </nav>
    </header>

    <!-- Grumble grumble... -->
    <div class="clear"></div>

    <div id="main">
        <div id="content" class="{% block content_class %}{% endblock %}">
            {% block content %}{% endblock %}
        </div>
    </div>

    <footer id="footer">
        <span>Copyright 2012 harmy.me</span><br />
        <a href="http://creativecommons.org/licenses/by/3.0/us/" rel="nofollow">Some Rights Reserved</a>
    </footer>
</div>

{% block extrafoot %}{% endblock %}

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS }}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
